@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap');
html{
    font-family:'Poppins';
    background-color: rgb(194, 194, 194);;
    
}

#header, #Warning{
  color: #01786c;
}
body{
margin: auto;
background: rgb(194, 194, 194);
overflow: hidden;

}
#Container{

  /* center the elements inside the div */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count{
   height: 200px;
   width: 200px;
   /* margin-left: 543px;*/
   margin-top: 30px; 
   border-radius: 100px;
   background: rgb(194, 194, 194);
   background: linear-gradient(145deg, #e0e0e0, #8d8d8d71);
   box-shadow: 20px 20px 60px #6969698f, -20px -20px 60px #e0e0e0b0
}

#hGlass{

    height: 140px;
    border-radius:50%;
    width: 140px;
    margin-left: 92px;
    display: inline-block;
    position: relative;
    vertical-align: middle; 
    margin-top: 15px;
    margin-bottom: 8px;
	 
    }

#display{
    margin-top: 34%;
    text-align: center;
    font-size: 58px;

}
.flex-parent {
    display: flex;
    margin-left: -15px;
  }
  
  .jc-center {
    justify-content: center;
  }
  #seg{
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  button{
      width: 130px;
      box-shadow:  20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  }

#header{
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  #Warning{
    justify-content: center;
    display: flex; 
  }
  